Piwik数据同步/Service References/PromotionReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.0.77:1358/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Promotion.Components" />
  <xs:element name="Display">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Promotion.Components" minOccurs="0" name="pa" nillable="true" type="q1:PromotionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Promotion.Components" minOccurs="0" name="DisplayResult" nillable="true" type="q2:PromotionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exec">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Promotion.Components" minOccurs="0" name="pa" nillable="true" type="q3:PromotionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Promotion.Components" minOccurs="0" name="ExecResult" nillable="true" type="q4:PromotionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PromotionID" type="xs:int" />
        <xs:element minOccurs="0" name="PromotionType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Promotion.Components" minOccurs="0" name="ClearCacheResult" nillable="true" type="q5:PromotionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>