Piwik数据同步/Backup/Service References/PromotionReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Promotion.Components" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Promotion.Components" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PromotionRequest">
    <xs:sequence>
      <xs:element name="areaid" type="xs:int" />
      <xs:element name="channelId" type="xs:int" />
      <xs:element name="inputparm" nillable="true" type="xs:string" />
      <xs:element name="isCache" nillable="true" type="xs:boolean" />
      <xs:element name="productId" nillable="true" type="xs:string" />
      <xs:element name="productcode" nillable="true" type="xs:string" />
      <xs:element name="promtionId" type="xs:int" />
      <xs:element name="qty" nillable="true" type="xs:string" />
      <xs:element name="sceneid" type="xs:int" />
      <xs:element name="shoppingcartId" type="xs:int" />
      <xs:element name="total" type="xs:decimal" />
      <xs:element name="userId" type="xs:int" />
      <xs:element name="usergroup" type="xs:int" />
      <xs:element name="userguid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PromotionRequest" nillable="true" type="tns:PromotionRequest" />
  <xs:complexType name="PromotionResponse">
    <xs:sequence>
      <xs:element name="flag" type="xs:boolean" />
      <xs:element name="message" nillable="true" type="xs:string" />
      <xs:element name="objresult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PromotionResponse" nillable="true" type="tns:PromotionResponse" />
</xs:schema>