Piwik数据同步/Backup/Service References/PromotionReference/PromotionEngineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="PromotionEngineService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPromotionEngineService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.0.0.77:1358/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.0.0.77:1358/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.0.0.77:1358/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Promotion.Components" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPromotionEngineService_Display_InputMessage">
    <wsdl:part name="parameters" element="tns:Display" />
  </wsdl:message>
  <wsdl:message name="IPromotionEngineService_Display_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayResponse" />
  </wsdl:message>
  <wsdl:message name="IPromotionEngineService_Exec_InputMessage">
    <wsdl:part name="parameters" element="tns:Exec" />
  </wsdl:message>
  <wsdl:message name="IPromotionEngineService_Exec_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecResponse" />
  </wsdl:message>
  <wsdl:message name="IPromotionEngineService_ClearCache_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCache" />
  </wsdl:message>
  <wsdl:message name="IPromotionEngineService_ClearCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheResponse" />
  </wsdl:message>
  <wsdl:portType name="IPromotionEngineService">
    <wsdl:operation name="Display">
      <wsdl:input wsaw:Action="http://tempuri.org/IPromotionEngineService/Display" message="tns:IPromotionEngineService_Display_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPromotionEngineService/DisplayResponse" message="tns:IPromotionEngineService_Display_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Exec">
      <wsdl:input wsaw:Action="http://tempuri.org/IPromotionEngineService/Exec" message="tns:IPromotionEngineService_Exec_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPromotionEngineService/ExecResponse" message="tns:IPromotionEngineService_Exec_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearCache">
      <wsdl:input wsaw:Action="http://tempuri.org/IPromotionEngineService/ClearCache" message="tns:IPromotionEngineService_ClearCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPromotionEngineService/ClearCacheResponse" message="tns:IPromotionEngineService_ClearCache_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IPromotionEngineService" type="tns:IPromotionEngineService">
    <wsp:PolicyReference URI="#WSHttpBinding_IPromotionEngineService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Display">
      <soap12:operation soapAction="http://tempuri.org/IPromotionEngineService/Display" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exec">
      <soap12:operation soapAction="http://tempuri.org/IPromotionEngineService/Exec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCache">
      <soap12:operation soapAction="http://tempuri.org/IPromotionEngineService/ClearCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PromotionEngineService">
    <wsdl:port name="WSHttpBinding_IPromotionEngineService" binding="tns:WSHttpBinding_IPromotionEngineService">
      <soap12:address location="http://10.0.0.77:1358/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://10.0.0.77:1358/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>